/* @import "tailwindcss"; */




.App {
  text-align: center;
}

.logo {
  /* height: 40vmin; */
  width: 120px;
  /* pointer-events: none; */
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.nav-items > ul{
  display: flex;
  list-style-type: none;
  
}
.header-font{
  font-size: 1.5rem;
}

.header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
  border: red solid 2px;
}
.res-card{
  width: 215px;
  /* height: 95%; */
background-color: rgba(215, 221, 220, 0.988);
  padding: 5px;
  margin: 5px;
}
.res-card:hover{
  border: #89cee7 3px solid;
  cursor: pointer;
}

.item-card-name{
  /* font-weight: 600;
  font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.45px;
    color: rgba(2, 6, 12, 0.75); */

    font-weight: bold;
    margin-bottom: 0.5rem;
}

.rest-name{
    
    font-weight: 600;
    font-size: 18px;
    
    color: rgba(2, 6, 12, 0.92);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.header-items{
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}

.item-card-box {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.item-card-box .me-2 {
  color: gold; /* Or any color you prefer for the star */
}

.item-card-image {
  width: 100px; /* Adjust as needed */
  height: auto;
  border-radius: 4px; /* Optional: for rounded corners */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}
.item-card-ratings{
  color:green;
}

.offer-label{
  position: absolute;
  display: block;
  color: white;
  font-weight: bold;
  /* margin: 10px; */
  /* padding: 10px; */
  background-color: black;
  border-radius: 10px;
  border:black solid;

}
.res-card > img{
  width: 95%;
  height: 50%;
  border-radius: 6%;
}
.menu{
  padding: 1%;
}

.menu > img{
  width: 25%;
  height: 20%;
  display: inline;
}
.res-card > h5{
  overflow: hidden;
}
.menu-card{
            /* list-style: none;
            display: flex;
                flex-direction: column;
                align-items: flex-start; */
        


            list-style: none;
            padding: 0;
            margin: 0;
}
.cost{
  margin-left: 5%;
}

.menu-header{
  display: flex;
  justify-content: center;
  font-weight: bold;
   
  
}
.menu-header1{
  margin-right: 10px;
}
.red{
  color: red;
  font-weight: bold;
}

.slaString{
  padding-bottom: 50px;
}

.res-container{
  display: flex;
  flex-wrap: wrap;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;

}

.shimmer-card{
  margin:20px;
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
}

.login{
  background-color: #89cee7;
  border: 2px solid black;
  border-radius: 7px;
  font-size: 18px;
  margin: 10px;
  cursor:pointer;
}
.App-link {
  color: #61dafb;
}

.filter{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin: 20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.errorPage > h1{
  text-align: center;
  color:rgb(206, 24, 46);
}
.errorPage > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.user-card{
  border: 1px dotted green ;
  width: 25%;
  margin-left: 38%;
  color:darkslategrey;
  margin-top: 15px;
}